.main{

    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 3fr ;
    height:100vh ;

    &__left{
        padding: 30px;
        border-right: 2px solid rgb(175, 170, 170);
        background-color: rgb(184, 216, 226);
       
    }
    &__right{

        padding: 30px;

    }


}