.ticket-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px
}

@media only screen and (max-width: 1390px) {
    .ticket-container {

        grid-template-columns: 1fr 1fr
    }
}

@media only screen and (max-width: 800px) {


    .ticket-container {

        grid-template-columns: 1fr
    }
}